<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8 />
  <title>ADNPages</title>
</head>
<body>
	<div style="background-color:#CEECF5;">
	<h1>Nitin's Notes</h1>
	<p>What you can below is a collection of markdown posts. It's a blog! I hate Markdown. Anyways...</p>
	<p>Contact me on <a href="https://alpha.app.net/nitinkhanna" target="_blank">ADN</a></p>
	<p>ADNPages now supports RSS feeds. The RSS url for this blog is - <a href="http://notes.nitinkhanna.com/feed.php" target="_blank">feed</a></p>
	</div>